Menu:

<ul>
  <li><a href="{{ '/cryptocurrency.html' | relative_url }}">Cryptocurrency</a>
  <li><a href="{{ '/investment.html' | relative_url }}">Investment</a></li>
  <li><a href="{{ '/polkadot.html' | relative_url }}">Polkadot</a>
  <li><a href="{{ '/tokensales.html' | relative_url }}">Token Sale</a>
  <li><a href="{{ '/tasks.html' | relative_url }}">Weekly Tasks</a>
  <li><a href="{{ '/mistakes.html' | relative_url }}">Mistakes</a>
  <li><a href="{{ '/course_blockchain.html' | relative_url }}">Crypto Course</a>
  <li><a href="{{ '/automation.html' | relative_url }}">Programming</a>
  <li><a href="{{ '/rl.html' | relative_url }}">Reinforcement Learning</a>
  	
</ul>
