Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/drassil/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/cryptocurrency.html' | relative_url }}">Cryptocurrency</a>
  <li><a href="{{ '/investement.html' | relative_url }}">Investment</a></li>
  <li><a href="{{ '/polkadot.html' | relative_url }}">Polkadot</a>
  <li><a href="{{ '/tokensales.html' | relative_url }}">Token Sale</a>
  <li><a href="{{ '/tasks.html' | relative_url }}">Weekly Tasks</a>
  <li><a href="{{ '/mistakes.html' | relative_url }}">Mistakes</a>
</ul>
