Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/drassil/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/wiki/main-page' | relative_url }}">Main</a>
  <li><a href="{{ '/wiki/weekly-tasks' | relative_url }}">Weekly Tasks</a>
  <li><a href="{{ '/wiki/courses' | relative_url }}">Courses</a>
  <li><a href="{{ '/wiki/cryptocurrency' | relative_url }}">Cryptocurrency</a>
  <li><a href="{{ '/wiki/investment' | relative_url }}">Investment</a></li>
  <li><a href="{{ '/wiki/polkadot' | relative_url }}">Polkadot</a>
  <li><a href="{{ '/wiki/tokensales' | relative_url }}">Token Sale</a>
  <li><a href="{{ '/wiki/mistakes' | relative_url }}">Mistakes</a>
</ul>
